.time h1 {
    text-align: center;
}

.time {
    margin: 20px 0;
}

.save input[type="text"] {
    width: 20em;
    height: 40px;
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

.save {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}