.container {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 5%;
}

.times {
  flex: 1;
}

.timer {
  flex: 1;
}

.btn {
  background-color: #b9b9b9;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.center {
  margin: auto;
}
